{% capture image-path %}
{% include image-path.html image-path=include.image-path %}
{% endcapture %}

{% assign image-path = image-path | strip %}

{::nomarkdown}
</div> <!-- close container for bg work-->
{:/nomarkdown}

<div  class = "bg-multi-container" 
      style = "height: auto"
      id = "{{ include.bg-id }}-container">

  <div class="bg-multi"
      style = "background-image: url('{{ image-path }}')"
      id = "{{ include.bg-id }}-image"></div>

    <div style="height: {{ include.pre-box-space }}vh">
      &nbsp;
    </div>

    <!-- leave this div open for long version here-->
    <div id="{{ include.bg-id }}-textbox" class="bg-text-box" markdown="1"> 