{% capture image-path %}
{% include image-path.html image-path=include.image-path %}
{% endcapture %}

{% assign image-path = image-path | strip %}

{::nomarkdown}
</div>
{:/nomarkdown}


<div class="sticky_bg_container">
  <div class="sticky_bg"
    style="background-image: url('{{ image-path }}'); height: {{ include.height }}">
  </div>

  {% if include.box-content %}

    <div style="height: {{ include.pre-box-space }}">&nbsp;</div>
    <div class="sticky_bg_content">{{ include.box-content }}</div>

  {% endif %}
</div>


{::nomarkdown}
<div class="container">
{:/nomarkdown}
