<footer class="site-footer">
  <div class="footer-container">
    <!--<div class="footer-logo">
      <a href="/">
        <img src="/assets/images/logo-footer.png" alt="Center Santa Fe Logo" />
      </a>
    </div>
  -->
    <div class="footer-description">
      Amaranth supports teaching that bridges critical thinking and digital literacy, and provides tools and resources for creative, sustainable collboration.
    </div>
    <!--<div class="footer-links">
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/programs/">Programs</a></li>
        <li><a href="/events/">Events</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
  -->
    <div class="footer-social">
      <ul class="list-inline social-buttons">
        {% for network in site.social %}
        <li>
            <a href="{{ network.url }}">
                <i class="fa fa-{{ network.title }}"></i>
            </a>
        </li>
        {% endfor %}
    </ul>
    </div>
  </div>
  <div class="footer-credits">

  </div>
</footer>