{% assign cards = include.cards %}
<div class="section-card-grid">
  {% for card in cards %}
    <div class="section-card">
      <a href="{{ card.link | default: card.url }}">
        <div class="section-card-image-wrapper" style="background-image: url('{{site.baseurl}}{{ card.image }}')">
          <div class="section-card-overlay">
            <h3 class="section-card-title">{{ card.title }}</h3>
            <p class="section-card-description">{{ card.description }}</p>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
